/*colour palette
light blue - #07BAFC
deep blue - #4857EF
mango - #FDAA02
raspberry - #FB276A
magenta - #FA279A
violet - #6205D6
*/

*{
    font-family: rubik;
}

.nav_bar{
    margin:auto;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
}

.all_navigation{
    display: flex;
    height:80px;
    align-items: center;
}
.logo{
    padding-left: 50px;
}
.all_navigation li{
    list-style: none;
    display:inline-block;
}
.nav_bar_links{
    margin: 0;
    padding: 0;
    align-items: center;
  }
.nav_bar_links li{
    margin-left: 75px;
    text-decoration: none;
    text-align: center;
    color:#FA279A;
    font-family: 'Rubik', sans-serif;
    font-weight: 400px;
}
.nav_bar_links li,
a {
  text-decoration: none;
  color: #FA279A;
}
.nav_bar_links li,
a:hover {
  color: #FB276A;
}
/* BODY */
.section1{
    height: 500px
}
.box-one{
    padding-top: 300px;
    padding-bottom: 300px;
    background-color: #FDAA02;
}

.container{
    display: flex;
    flex-direction: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tag{
    width: 150px;
    height: 200px;
    border-radius: 9px;
    background-color:#4857EF;
    margin-right: 50px;
    opacity: 0;
    transform: translate(0, 30%);
    transition: all 1s;
    animation-iteration-count: 1;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

#square1{
   margin-top: 0px;
   transition-delay: 0s;
}
#square2{
    margin-top: 25px;
    transition-delay: 0.3s;
}

#square3{
    margin-top: 50px;
    transition-delay: 0.7s;
}
.box2{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FEC3AE;
}
.bars{
    margin-left: 28%;
}

 .bars:hover{
    margin-left:28%;
    transform:scaleY(1.5);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}